* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  height: 60px;
  top: 0px;
  width: clamp(0px, 100vw, 1920px);
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  justify-content: space-between;
}
nav .bars, nav .mode, nav .fb, nav .insta, nav .github {
  height: 20px;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 50%;
  color: #4f6591;
  cursor: pointer;
}
nav .bars, nav .mode {
  height: 25px;
  font-size: 20px;
}
nav .mode {
  color: #354765;
}
nav .fb, nav .insta, nav .github {
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in-out;
}
nav .fb:hover {
  color: blue;
}
nav .insta:hover {
  color: #ee2a7b;
}
nav .github:hover {
  color: black;
}
nav button {
  height: 40px;
  width: 180px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background: #4f6591;
  width: 90px;
  background: #fe655c;
  margin-right: 20px;
}
nav button:hover {
  background: #354765;
}
nav button:hover {
  background: #fe4d43;
}

aside {
  position: fixed;
  height: 300px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  margin: 150px 0px 0px 15px;
  box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.05);
  visibility: visible;
}
aside ul {
  list-style-type: none;
  width: 80%;
}
aside ul a {
  text-decoration: none;
  color: #354765;
}
aside ul li {
  height: 50px;
  width: 100%;
  margin: 20px 0px 20px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 0px;
  opacity: 0.9;
  text-decoration: none;
}
aside ul li:hover {
  opacity: 1;
}
aside ul .sideicon {
  height: 20px;
  color: #354765;
  padding-bottom: 5px;
}
aside ul .li-x {
  height: 50px;
  padding-bottom: 10px;
}
aside ul .li-x .x {
  font-size: 30px;
  font-weight: lighter;
  color: #354765;
  opacity: 0.5;
}
aside ul .li-x .x:hover {
  opacity: 1;
}

.toggleleft {
  animation: fadeout 0.5s forwards;
}

@keyframes fadeout {
  0% {
    margin-left: 15px;
  }
  100% {
    margin-left: -100px;
    display: none;
  }
}
.toggleright {
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 15px;
  }
}
.me {
  margin: 60px auto;
  height: 300px;
  width: 1000px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.03);
}
.me .image {
  height: 90%;
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(120%);
  padding: 5px;
  border: 2px solid #4f6591;
  border-style: dashed;
}
.me .aboutme {
  height: 90%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.me .aboutme h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 3rem;
  color: #354765;
}
.me .aboutme p {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #4f6591;
}
.me .aboutme button {
  height: 40px;
  width: 180px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background: #4f6591;
}
.me .aboutme button:hover {
  background: #354765;
}

.item {
  height: 270px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30px;
}
.item .item-image {
  height: 60%;
  width: 100%;
}
.item .item-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.item .item-text h3, .item .item-text p {
  margin-bottom: -5px;
}
.item .item-text p {
  font-size: 0.9rem;
}
.item .item-text .alwaysBlue {
  color: cornflowerblue;
}

.home-projects {
  margin: auto;
  height: 550px;
  width: 1000px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.03);
}
.home-projects .intro {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.home-projects .intro h1, .home-projects .intro p {
  text-align: center;
  color: #354765;
}
.home-projects .intro p {
  width: 70%;
  margin-top: 10px;
  color: #4f6591;
}
.home-projects .items {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.home-projects button {
  height: 40px;
  width: 180px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background: #4f6591;
  margin-bottom: 15px;
}
.home-projects button:hover {
  background: #354765;
}

.skills {
  margin: 60px auto 20px auto;
  height: 250px;
  width: 1000px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.03);
}
.skills h1 {
  top: 20px;
  text-align: center;
  color: #354765;
}
.skills .icon4 {
  animation-duration: 4s;
}
.skills .skills-icon {
  height: 60px;
  width: 60px;
  padding: 20px;
  margin: 20px 25px 0px 25px;
  transition: 0.1s ease-in-out;
  border-radius: 10px;
}
.skills .span {
  display: flex;
  color: #4f6591;
  font-size: 5rem;
  font-family: monospace;
  margin-top: -25px;
  justify-content: center;
  opacity: 0.1;
}

.dark-mode {
  background: #1e2738;
  color: white !important;
}
.dark-mode .fb, .dark-mode .insta, .dark-mode .github {
  background: #19202e;
  color: #a5b3ce !important;
}
.dark-mode .bars, .dark-mode .mode, .dark-mode li, .dark-mode .sideicon {
  color: #a5b3ce !important;
}
.dark-mode h1, .dark-mode h2 {
  color: white !important;
}
.dark-mode p {
  color: #a5b3ce !important;
}
.dark-mode .alwaysBlue {
  color: cornflowerblue !important;
}
.dark-mode .items {
  background: #1e2738;
}

.dark-mode-body {
  background: #19202e;
}/*# sourceMappingURL=App.css.map */