
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
    user-select: none;
}
body{
    margin:0 auto;
    max-width: 1920px;
    scroll-behavior: smooth;
    background: #f5f7fa;
}
@mixin button{
    height:40px;
    width:180px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    border:none;
    outline:none;
    border-radius: 20px;
    transition:0.2s ease-in-out;
    cursor: pointer;
    background:#4f6591;
    &:hover{
        background:#354765;
    }
}
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: fixed;
    height:60px;
    top:0px;
    width:clamp(0px,100vw,1920px);
    padding:0px 20px;
    @include center();
    z-index: 10;
    backdrop-filter: blur(50px);
    justify-content: space-between;
    .bars,.mode,.fb,.insta,.github{
        height:20px;
        margin:0px 10px;
        padding:10px;
        border-radius:50%;
        color:#4f6591;
        cursor:pointer;
    }
    .bars,.mode{
        height:25px;
        font-size: 20px;
    }
    .mode{
        color:#354765;
    }
    .fb,.insta,.github{
        background: white;
        box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.05);
        transition:0.2s ease-in-out;
    }
    .fb{
        &:hover{
            color:blue;
        }
    }
    .insta{
        &:hover{
            color:  #ee2a7b;
        }
    }
    .github{
        &:hover{
            color:  black;
        }
    }
    button{
        @include button;
        width:90px;
        background: #fe655c;
        &:hover{
            background: #fe4d43;
        }
        margin-right:20px;
    }
}
aside{
    position: fixed;
    height:300px;
    width:70px;
    @include center();
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    margin:150px 0px 0px 15px;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0,0,0,.05);
    visibility: visible;
    ul{
        list-style-type: none;
        width:80%;
        a{
            text-decoration: none;
            color:#354765;
        }
        li{
            height:50px;
            width:100%;
            margin:20px 0px 20px 0px;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            padding:10px 0px;
            opacity:0.9;
            text-decoration: none;
            &:hover{
                opacity: 1;
            }
        }
        .sideicon{
            height:20px;
            color:#354765;
            padding-bottom:5px;
        }
        .li-x{
            height:50px;
            padding-bottom: 10px;
            .x{
                font-size: 30px;
                font-weight: lighter;
                color:#354765;
                opacity:0.5;
                &:hover{
                    opacity:1;
                }
            }
        }
    }
}
.toggleleft{
    animation:fadeout 0.5s forwards;
}
@keyframes fadeout{
    0%{
        margin-left:15px; 
    }
    100%{
        margin-left:-100px;
        display: none; 
    }
}
.toggleright{
    animation:fadein 0.5s forwards;
}
@keyframes fadein{
    0%{
        margin-left:-100px; 
    }
    100%{
        margin-left:15px; 
    }
}
.me{
    margin:60px auto;
    height:300px;
    width:1000px;
    background: white;
    border-radius: 10px;
    @include center();
    justify-content: space-evenly;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0,0,0,.03);
    .image{
        height:90%;
        width:27%;
        @include center;
        img{
            height:100%;
            width:100%;
            border-radius: 50%;
            object-fit: cover;
            filter:brightness(120%);
            padding:5px;
            border:2px solid #4f6591;
            border-style: dashed;
        }
    }
    .aboutme{
        height:90%;
        width:60%;
        @include center;
        flex-direction: column;
        h1{
            text-align: center;
            margin-bottom:10px;
            font-size: 3rem;
            color:#354765;
        }
        p{
            width:100%;
            text-align:center;
            margin-bottom: 20px;
            font-size: 1rem;
            color:#4f6591;
        }
        button{
            @include button;
        }
    }
}

.item{
    height:270px;
    width:230px;
    @include center;
    flex-direction: column;
    justify-content: space-around;
    margin-right:30px;
    .item-image{
        height:60%;
        width:100%;
        img{
            height:100%;
            width:100%;
            object-fit:cover;
            object-position: top;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
    .item-text{
        h3,p{
            margin-bottom: -5px;
        }
        p{
            font-size: 0.9rem;
        }
        .alwaysBlue{
            color:cornflowerblue;
        }
    }
}
.home-projects{
    margin:auto;
    height:550px;
    width:1000px;
    background: white;
    border-radius: 20px;
    @include center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0,0,0,.03);
    .intro{
        height:20%;
        @include center;
        flex-direction: column;
        margin-top: 10px;
        h1,p{
            text-align: center;
            color:#354765;
        }
        p{
            width:70%;
            margin-top: 10px;
            color:#4f6591
        }
    }
    .items{
        @include center;
        justify-content: space-around;
    }
    button{
        @include button;
        margin-bottom:15px;
 
    }
}



.skills{
    margin:60px auto 20px auto;
    height: 250px;
    width:1000px;
    background:white;
    border-radius: 20px;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0,0,0,.03);

    h1{
        top:20px;
        text-align: center;
        color:#354765;
    }
    .icon4{
        animation-duration: 4s;
    }
    .skills-icon{
        height:60px;
        width:60px;
        padding:20px;
        margin:20px 25px 0px 25px;
        transition:0.1s ease-in-out;
        border-radius: 10px;
    }
    .span{
        display: flex;
        color:#4f6591;
        font-size: 5rem;
        font-family: monospace;
        margin-top: -25px;
        justify-content: center;
        opacity:0.1;
    }
}
 $bodybg : #19202e;
 $divbg: #1e2738;

.dark-mode{
    background: $divbg;    
    color: white !important;
    .fb,.insta,.github{
        background: $bodybg;
        color: #a5b3ce !important;
    }
    .bars,.mode,li,.sideicon{
        color: #a5b3ce !important;
    }
    h1,h2{
        color:white !important;
    }
    p{
        color:#a5b3ce !important;
    }
    .alwaysBlue{
        color:cornflowerblue !important;
    }
    .items{
        background: $divbg;
    }
}
.dark-mode-body{
    background: $bodybg;
}